<div class="container justify-content-center">
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タスク %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :期日 %>
    <%= form.date_select :up_to_date %>
  </div>

  <div class="field">
    <%= form.label :優先度 %>
    <%= form.number_field :priority %>
  </div>

  <div class="field">
    <%= form.label :タグ %>
    <%= form.text_field :tag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>