<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Up to date:</strong>
  <%= @post.up_to_date %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @post.priority %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @post.tag %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
